@using global::AutoMapper
@inject IMapper Mapper
@inject Domain.Service.IBulkReversal BulkReversalService

<table class="table">
    <thead>
        <tr>
            <th>Results</th>
            <th>Status</th>
            <th>NewSpInvNumber</th>
            <th>&nbsp;</th>
            <th>OrgSpinvNumber</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bulkReversal in BulkReversals)
        {
            <tr>
                <td>@bulkReversal.RevResults</td>
                <td>@bulkReversal.RevStatus</td>
                <td>@bulkReversal.NewSpInvNumber</td>
                <td><button title="New invoice" class="btn btn-secondary">Invoice</button></td>
                <td>@bulkReversal.OrgSpinvNumber</td>
                <td><button title="Orginal invoice" class="btn btn-secondary">Invoice</button></td>
            </tr>
        }
    </tbody>
</table>
