@page "/bulk-reversal-input"

<BulkReversalBreadcrumbs></BulkReversalBreadcrumbs>

<h2>Bulk Reversal Input</h2>

<EditForm Model="@BulkReversal" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="orgSpin" @bind-Value="BulkReversal.OrgSpin" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>