@page "/invoice/{spInvoiceNumber:int}"

@using SmartPower.Common

<BulkReversalBreadcrumbs></BulkReversalBreadcrumbs>

@if (InvoiceSummary == null)
{
    <Toaster AlertClass="@Common.Enumeration.AlertClass.Error.GetEnumerationDescription()" Message="@Constant.Invoice.Message.NotFound"></Toaster>
}
else
{
    <h2>Invoice - @InvoiceSummary.SpinvNumber</h2>

    <table class="table">
        <InvoiceRowHeader></InvoiceRowHeader>
        <tbody>
            <InvoiceRow InvoiceSummary="@InvoiceSummary"></InvoiceRow>
        </tbody>
    </table>
}
